@{
    ViewBag.Title = "Quizzes";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

@section content {
        <table>
            <tr>
                <th>
                    <a href="">@ViewBag.HTMLClusters.core.cluster_title</a>
                </th>
                <th>
                    <a href="">View</a>
                </th>
            </tr>

            @foreach (var quizItem in @ViewBag.HTMLClusters.quizzesList)
            {
                <tr>
                    <td>
                        <a href="">@quizItem.quiz_title</a>
                    </td>
                    <td>
                        <a href="">Take</a>
                    </td>
                </tr>
            }
        </table>
}
