@model IEnumerable<CentralQuizApp.Models.Clusters>

@{
    ViewBag.Title = "Clusters";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

@section content {
    @foreach (var clusterItem in @ViewBag.HTMLClusters)
    {
        <table>
            <tr>
                <th>
                    <a href="">@clusterItem.core.cluster_title</a>
                </th>
                <th>
                    <a href="">View</a>
                </th>
            </tr>

            @foreach (var quizItem in clusterItem.quizzesList)
            {
            <tr>
                <td>
                    <a href="">@quizItem.quiz_title</a>
                </td>
                <td>
                    <a href="">Take</a>
                </td>
            </tr>
            }
        </table>
        
        <p></p>
    }

    <p>List Clusters</p>
    @ViewBag.ClustersResult
}
